:root {
    --btn_Background: black;
}

h1 {
    margin-left: 10px;
}

body {
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Fira Code', monospace;
    font-size: 18px;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width:1294px) {
    textarea {
        width: 95vw;
    }
}

@media screen and (min-width:1295px) {
    textarea {
        width: 47vw;
    }
}

textarea {
    font-size: 18px;
    margin: 10px;
    height: 60vh;
}

button {
    background: var(--btn_Background);
    color: white;
    border-radius: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left:10px;
}
